* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-div {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 30px;
}

.input {
    width: 300px;
}

.btn {
    width: 70px;
    font-size: 1rem;
}